[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-allauth = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
